NODE_ENV=development
PORT=5000
HOST=localhost
LOG_LEVEL=debug
ROUTE_UUID=00000000-0000-0000-0000-000000000000
CRON_PERIOD=5 seconds
CRON_DELAY=5 seconds
# Почты через запятую тех аккаунтов, откуда не надо скачивать видео.
ZOOM_SKIP_USERS_MAILS=jopa@lala.ru,lala@jopa.com
# Путь к каталогам с файлами. Текущий путь - на один уровень выше корня проекта
STORAGE_DIRPATH=..,..
